[user]
email = ntraum@fastmail.com
name  = Philipp Preß
signingkey = 438AECCC15D05D62

[color]
ui = auto

[commit]
# gpgsign = true
verbose = true

[alias]
ci = commit
co = checkout

filelog = log -u
fl = log -u
lg = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative --graph

recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"

st = status -s

hide = update-index --assume-unchanged
unhide = update-index --no-assume-unchanged

# `git log` with patches shown with difftastic.
dl = -c diff.external=difft log -p --ext-diff

# Show the most recent commit with difftastic.
ds = -c diff.external=difft show --ext-diff

# `git diff` with difftastic.
dft = -c diff.external=difft diff

[core]
excludesfile = ~/.global_gitignore

[diff]
algorithm = histogram

[push]
default = simple
autoSetupRemote = true

[rebase]
autosquash = true

[pull]
rebase = true

[github]
user = nTraum

[credential "https://github.com"]
helper = !/usr/bin/gh auth git-credential

[merge]
conflictstyle = zdiff3

[maintenance]
repo = /home/ntraum/coding/hexafarms/hexchange
repo = /home/ntraum/coding/nTraum/studiolineatur

[rerere]
enabled = true
autoupdate = true

[init]
defaultBranch = main
