alacritty/.config/alacritty/themes

fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables

neovim/.config/nvim/lazy-lock.json

emacs/.config
!emacs/.config/emacs/init.el
